<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.principal.projetolivia">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_android"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.NewProfileActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:parentActivityName=".main.ProfileActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.ProfileActivity" />
        </activity>

        <activity
            android:name=".main.SubjectsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".main.ProfileActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.ProfileActivity" />
            </activity>

        <activity
            android:name=".main.ProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".main.GameActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".main.SubjectsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.SubjectsActivity" />
        </activity>

        <activity
            android:name=".main.StatsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".main.SubjectsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.SubjectsActivity" />
        </activity>

        <activity
            android:name=".main.AchievementsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".main.SubjectsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.SubjectsActivity" />
        </activity>
    </application>

</manifest>
